<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <% @articles.each do |a| %>
      <h2 class="blog-post-title"><%= link_to a.title, a %></h2>
      <p class="blog-post-meta">Submitted <%= time_ago_in_words(a.created_at) %> ago by <a href="#"><%= a.author %></a></p>

      <p>        
        <%= a.text %>
      </p>
      <br>
      <p>
          <span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-right: 0.5em"></span><%= link_to a.comments.size, a %> |
          <!-- Checking for user's priveleges -->
          <% if a.author == current_user.username %>
          <span class="glyphicon glyphicon-edit" aria-hidden="true" style="margin-right: 0.5em; margin-left: 5px;"></span><%= link_to 'Edit', edit_article_path(a) %> |
          <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right: 0.5em"></span><%= link_to 'Delete', a, method: :delete, data: {confirm: 'Delete article?'} %>
          <% end %>
      </p>

          <hr>
      <% end %>


    </div><!-- /.blog-post -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Sometimes there's a hole in the world<em>That I can sneak trough</em> ...</p>
    </div>
    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/alexxero">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
