<div class="container">
  <div class="row">

    <% @articles.each do |a| %>

        <% if @articles.size == 0 %>

            <em>No entries found.</em>

        <% end %>

        <h3>
          <%= a.title %>
        </h3>
        <p>
          <%= a.text %>
        </p>
        <p>
          By <%= a.author %>
        </p>
        <p>
          <%= link_to 'Read more', article_path(a) %> |
          <%= link_to 'Edit', edit_article_path(a) %> |
          <%= link_to "Delete article", a, method: :delete, data: {confirm: "You sure?"} %>
        </p>

        <hr>
        </p>
    <% end %>
  </div>
</div>
