<div class="row">

  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <% @articles.each do |a| %>
      <h2 class="blog-post-title"><%= link_to a.title, a %></h2>
      <p class="blog-post-meta">Submitted <%= time_ago_in_words(a.created_at) %> ago by <a href="#"><%= a.author %></a></p>

      <p><%= a.text %></p>
      <p>
          <span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-right: 0.5em"></span><%= link_to a.comments.size, a %>
      </p>
      <p>
        <% if user_signed_in? %>
          <% if a.author == current_user.username %>
              <%= link_to 'Edit', edit_article_path(a) %> |
              <%= link_to 'Delete', a, method: :delete, data: {confirm: 'Delete article?'} %> <%end%>
        <%end%>
      </p>
          <hr>
      <% end %>


    </div><!-- /.blog-post -->

  </div><!-- /.blog-main -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>I'm just a poor boy <em>I have no sympathy</em> ...</p>
    </div>
    <div class="sidebar-module">
      <h4>Elsewhere</h4>
      <ol class="list-unstyled">
        <li><a href="https://github.com/alexxero">GitHub</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->

</div><!-- /.row -->
