<div class="container">
  <div class="row">

    <% @articles.each do |a| %>

        <% if @articles.size == 0 %>

            <em>No entries found.</em>

        <% end %>

        <p class="text-muted"><small><i><%= a.created_at %></i></small></p>

        <h3>
          <%= a.title %>
        </h3>
        <p>
          <%= a.text %>
        </p>
        <p>
          By <b> <%= a.author %> </b>
        </p>
        <p>
          <%= link_to 'Read more', article_path(a) %> <% if a.author == current_user.username %> |
          <%= link_to 'Edit', edit_article_path(a) %> |
          <%= link_to 'Delete', a, method: :delete, data: {confirm: 'You sure?'} %> <%end%>
        </p>
        <p>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= a.comments.size %>
        </p>

        <hr>
        </p>
    <% end %>
  </div>
</div>
