<div class="container">
  <div class="row">

    <% if @articles.size == 0 %>

        <em>No entries found.</em>

    <% end %>

    <% @articles.each do |a| %>
        <% if a.created_at == a.updated_at %>
          <p class="text-muted"><small><i> Submitted <%= time_ago_in_words(a.created_at) %> ago </i></small></p>
        <% else %>
            <p class="text-muted"><small><i> Updated <%= time_ago_in_words(a.updated_at) %> ago </i></small></p>
        <% end %>

        <h3>
          <%= link_to a.title, a %>
        </h3>

        <h4>
          <%= a.text %>
        </h4>
        <p>
          <small>From</small> <b> <%= a.author %> </b>

        </p>
        <p>
          <% if user_signed_in? %>
            <% if a.author == current_user.username %>
            <%= link_to 'Edit', edit_article_path(a) %> |
            <%= link_to 'Delete', a, method: :delete, data: {confirm: 'Delete article?'} %> <%end%>
          <%end%>
        </p>
        <p>
          <span class="glyphicon glyphicon-comment" aria-hidden="true" style="margin-right: 0.5em"></span><%= link_to a.comments.size, a %>
        </p>

        <hr>
        </p>
    <% end %>
  </div>
</div>
