<h1><%= @article.title %></h1>

<h3>
  <%= @article.text %>
</h3>
<br>
<%= link_to 'Main page', articles_path %>
<br>

<h4>Comments</h4>
<br>
<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>
    <p>
      <%= f.label :author%><br/>
      <%= f.text_field :author%>
    </p>
    <p>
      <%= f.label :body%><br/>
      <%= f.text_area :body%>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</p>

<% @comments.each do |comm| %>
    <p>
      <%= comm.body %>
    </p>
    <p> Posted by:
      <%= comm.author %>
    </p>
    <p>
      <%= comm.created_at %>
    </p>
    <br>
<% end %>