<h1><%= @article.title %></h1>

<h3>
  <%= @article.text %>
</h3>

<br>

<p>
  <%= time_ago_in_words(@article.created_at) %> ago by <b>  <%= image_tag(@user.avatar.url(:small)) %> <%= @article.author %> </b>
</p>

<h4 class="text-muted"> <%= @article.comments.count %> Comments</h4>
<% if user_signed_in? %>
<p>
  <%= form_for([@article, @article.comments.build]) do |f| %>

    <p>
      <%= f.label :body, class: "text-muted" %><br/>
      <%= f.text_area :body, class: "form-control" %>
    </p>
    <p>
      <%= f.submit 'Submit comment', class: "btn btn-success" %>
    </p>
  <% end %>
</p>
<% else %>
    <br>
    <p style="color: yellowgreen; font-weight: 600;"><i>You must be signed in to comment</i></p>
    <br>
<% end %>
<% @article.comments.each do |comm| %>
    <p>
      <b>
        <%= comm.body %>
      </b>
    </p>
    <p>
      <i>
        <%= comm.author %>
      </i>
    </p>
    <p>
      <small>
        <%= comm.created_at %>
      </small>
    </p>
    <br>
<% end %>